<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		<div>
			<p>Currently Viewing Post with Post ID <%- post[0].Id %>, comment count <%- post[0].CommentCount %> with score <%- post[0].Score %> </p>
			<textarea> <%- post[0].Body %> </textarea>
		</div>

		<br /> 
        <div>
			<table>
					<tr>
							<th>Comment ID</th>
							<th>Comment Body</th> 
							<th>Postive</th>
							<th>Negative</th>
					</tr>
				<tr>
					<% for (let i = 1; i < posts.length; i++) { %>
						<% for (let j = 0; j < posts[i].Comments.length; j++) { 
							var singleComment = posts[i].Comments[j]; %>
							<td><%- j + 1 %></td>
							<td><%- singleComment %></td>
							<td><input type="radio" name="comment<%- j + 1 %>" value="1"></td>
							<td><input type="radio" name="comment<%- j + 1 %>" value="0"></td>
				</tr>
			</table>

			<span><% if(nextId > 0) {%>
			<a id="next" href="/display/startID=<%=nextId%>">NEXT </a>
			<% } %></span>
        </div>
    </body>
</html>