<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		<div>
			<p>Currently Viewing Post with Post ID <%- post[0].Id %>, comment count <%- post[0].CommentCount %> with score <%- post[0].Score %> </p>
			<div> <%- post[0].Body %> </div>
		</div>
		<br />
        <div>
			<table>
					<tr>
							<th>Comment ID</th>
							<th>Comment Body</th> 
							<th>Postive</th>
							<th>Negative</th>
					</tr>

					<tr>
					<% for (let i = 1; i < post.length; i++) { %>
					
						<%	var comments = post[i].Comments;
							for(let j = 0; j < comments.length; j++){%>
								<td><%- comments[j] %></td>
							<%  } %>
					
					<%  } %>
				    </tr>
					
					
			</table>
        </div>
    </body>
</html>